<h3 style="color: darkblue;" class="mb-4">Edição de Profissional</h3>
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" id="btn_resumo">Resumo</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" id="btn_cursos_esp">Cursos Específ</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Escolaridade</button>
            </div>  
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Formação Sup</button>
            </div>  
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Pós Graduação</button>                
            </div> 
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Ocorrencias</button>
            </div>              
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Lot. Profissionais</button>
            </div>                   
        </div>
    </div>
</div>

<form id="formEditar">
    <input type="hidden" name="idProf" id="idProf" value="{{profissional._id}}"> 
<div class="card mt-4">
<div class="card-body">
    <div class="card">
        <div class="card-body mt-4">
            <h5 class="card-title" style="color:darkblue">INFORMAÇÕES DO PROFISSIONAL</h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="checkbox" class="form-control-md" id="buscaescola" name="buscaescola" value="true" {{#if_equal profissional.buscaescola true}}checked{{/if_equal}}>
                        Buscar Somente profissional da escola atual (apenas com funções exercidas definidas!)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control cpf" id="cpf" name="cpf" placeholder="000.000.000-00" value="{{profissional.cpf}}" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="{{profissional.nome}}" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="matriculaProfissional">Matricula</label>
                        <input type="text" class="form-control" id="matriculaProfissional" name="matriculaProfissional" value="{{profissional.matriculaProfissional}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pasepprofissional">NIS/PIS/PASEP</label>
                        <input type="text" class="form-control" id="pasepprofissional" name="pasepprofissional" value="{{profissional.pasepprofissional}}">
                    </div>
                </div>
                <div class="col-sm-2 mt-4">
                    <button type="submit" class="btn btn-success">Inserir Foto</button> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="rgprofissional">Rg</label>
                        <input type="text" class="form-control" id="rgprofissional" name="rgprofissional" value="{{profissional.rgprofissional}}" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="orgemissor">Org. Emissor</label>
                        <input type="text" class="form-control" id="orgemissor" name="orgemissor" value="{{profissional.orgemissor}}" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="uf">UF</label>
                        <select class="form-control" id="uf" name="uf">
                            <option value="MA" {{#if_equal profissional.uf "MA"}}selected{{/if_equal}}>MA</option>
                            <option value="AC" {{#if_equal profissional.uf "AC"}}selected{{/if_equal}}>AC</option>
                            <option value="AL" {{#if_equal profissional.uf "AL"}}selected{{/if_equal}}>AL</option>
                            <option value="AP" {{#if_equal profissional.uf "AP"}}selected{{/if_equal}}>AP</option>
                            <option value="AM" {{#if_equal profissional.uf "AM"}}selected{{/if_equal}}>AM</option>
                            <option value="BA" {{#if_equal profissional.uf "BA"}}selected{{/if_equal}}>BA</option>
                            <option value="CE" {{#if_equal profissional.uf "CE"}}selected{{/if_equal}}>CE</option>
                            <option value="DF" {{#if_equal profissional.uf "DF"}}selected{{/if_equal}}>DF</option>
                            <option value="ES" {{#if_equal profissional.uf "ES"}}selected{{/if_equal}}>ES</option>
                            <option value="GO" {{#if_equal profissional.uf "GO"}}selected{{/if_equal}}>GO</option>
                            <option value="MT" {{#if_equal profissional.uf "MT"}}selected{{/if_equal}}>MT</option>
                            <option value="MS" {{#if_equal profissional.uf "MS"}}selected{{/if_equal}}>MS</option>
                            <option value="MG" {{#if_equal profissional.uf "MG"}}selected{{/if_equal}}>MG</option>
                            <option value="PA" {{#if_equal profissional.uf "PA"}}selected{{/if_equal}}>PA</option>
                            <option value="PB" {{#if_equal profissional.uf "PB"}}selected{{/if_equal}}>PB</option>
                            <option value="PR" {{#if_equal profissional.uf "PR"}}selected{{/if_equal}}>PR</option>
                            <option value="PE" {{#if_equal profissional.uf "PE"}}selected{{/if_equal}}>PE</option>
                            <option value="PI" {{#if_equal profissional.uf "PI"}}selected{{/if_equal}}>PI</option>
                            <option value="RJ" {{#if_equal profissional.uf "RJ"}}selected{{/if_equal}}>RJ</option>
                            <option value="RN" {{#if_equal profissional.uf "RN"}}selected{{/if_equal}}>RN</option>
                            <option value="RS" {{#if_equal profissional.uf "RS"}}selected{{/if_equal}}>RS</option>
                            <option value="RO" {{#if_equal profissional.uf "RO"}}selected{{/if_equal}}>RO</option>
                            <option value="RR" {{#if_equal profissional.uf "RR"}}selected{{/if_equal}}>RR</option>
                            <option value="SC" {{#if_equal profissional.uf "SC"}}selected{{/if_equal}}>SC</option>
                            <option value="SP" {{#if_equal profissional.uf "SP"}}selected{{/if_equal}}>SP</option>
                            <option value="SE" {{#if_equal profissional.uf "SE"}}selected{{/if_equal}}>SE</option>
                            <option value="TO" {{#if_equal profissional.uf "TO"}}selected{{/if_equal}}>TO</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dataDoc">Data emissão</label>
                        <input type="date" class="form-control" id="dataDoc" name="dataDoc" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <select class="form-control" id="sexo" name="sexo">
                            <option value="MASCULINO" {{#if_equal profissional.sexo "MASCULINO"}}selected{{/if_equal}}>MASCULINO</option>
                            <option value="FEMININO" {{#if_equal profissional.sexo "FEMININO"}}selected{{/if_equal}}>FEMININO</option>
                        </select>
                    </div>
                </div>      
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dataNasc">Data Nascimento</label>
                        <input type="date" class="form-control" id="dataNasc" name="dataNasc">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="naturalidade">Naturalidade</label>
                        <select class="form-control" id="naturalidade" name="naturalidade">
                            <option value="MA" {{#if_equal profissional.naturalidade "MA"}}selected{{/if_equal}}>Maranhão</option>
                            <option value="AC" {{#if_equal profissional.naturalidade "AC"}}selected{{/if_equal}}>Acre</option>
                            <option value="AL" {{#if_equal profissional.naturalidade "AL"}}selected{{/if_equal}}>Alagoas</option>
                            <option value="AP" {{#if_equal profissional.naturalidade "AP"}}selected{{/if_equal}}>Amapá</option>
                            <option value="AM" {{#if_equal profissional.naturalidade "AM"}}selected{{/if_equal}}>Amazonas</option>
                            <option value="BA" {{#if_equal profissional.naturalidade "BA"}}selected{{/if_equal}}>Bahia</option>
                            <option value="CE" {{#if_equal profissional.naturalidade "CE"}}selected{{/if_equal}}>Ceará</option>
                            <option value="DF" {{#if_equal profissional.naturalidade "DF"}}selected{{/if_equal}}Distrito Federal</option>
                            <option value="ES" {{#if_equal profissional.naturalidade "ES"}}selected{{/if_equal}}>Espírito Santo</option>
                            <option value="GO" {{#if_equal profissional.naturalidade "GO"}}selected{{/if_equal}}>Goiás</option>
                            <option value="MT" {{#if_equal profissional.naturalidade "MT"}}selected{{/if_equal}}>Mato Grosso</option>
                            <option value="MS" {{#if_equal profissional.naturalidade "MS"}}selected{{/if_equal}}>Mato Grosso do Sul</option>
                            <option value="MG" {{#if_equal profissional.naturalidade "MG"}}selected{{/if_equal}}>Minas Gerais</option>
                            <option value="PA" {{#if_equal profissional.naturalidade "PA"}}selected{{/if_equal}}>Pará</option>
                            <option value="PB" {{#if_equal profissional.naturalidade "PB"}}selected{{/if_equal}}>Paraíba</option>
                            <option value="PR" {{#if_equal profissional.naturalidade "PR"}}selected{{/if_equal}}>Paraná</option>
                            <option value="PE" {{#if_equal profissional.naturalidade "PE"}}selected{{/if_equal}}>Pernambuco</option>
                            <option value="PI" {{#if_equal profissional.naturalidade "PI"}}selected{{/if_equal}}>Piauí</option>
                            <option value="RJ" {{#if_equal profissional.naturalidade "RJ"}}selected{{/if_equal}}>Rio de Janeiro</option>
                            <option value="RN" {{#if_equal profissional.naturalidade "RN"}}selected{{/if_equal}}>Rio Grande do Norte</option>
                            <option value="RS" {{#if_equal profissional.naturalidade "RS"}}selected{{/if_equal}}>Rio Grande do Sul</option>
                            <option value="RO" {{#if_equal profissional.naturalidade "RO"}}selected{{/if_equal}}>Rondônia</option>
                            <option value="RR" {{#if_equal profissional.naturalidade "RR"}}selected{{/if_equal}}>Roraima</option>
                            <option value="SC" {{#if_equal profissional.naturalidade "SC"}}selected{{/if_equal}}>Santa Catarina</option>
                            <option value="SP" {{#if_equal profissional.naturalidade "SP"}}selected{{/if_equal}}>São Paulo</option>
                            <option value="SE" {{#if_equal profissional.naturalidade "SE"}}selected{{/if_equal}}>Sergipe</option>
                            <option value="TO" {{#if_equal profissional.naturalidade "TO"}}selected{{/if_equal}}>Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="municipio">Município</label>
                    <select class="form-control" id="municipio" name="municipio">
                        <option value="AÇAILÂNDIA" {{#if_equal profissional.municipio "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="ITINGA" {{#if_equal profissional.municipio "ITINGA"}}selected{{/if_equal}}>ITINGA</option>
                        <option value="SÃO FRANCISCO DO BREJÃO" {{#if_equal profissional.municipio "SÃO FRANCISCO DO BREJÃO"}}selected{{/if_equal}}>SÃO FRANCISCO DO BREJÃO</option>
                        <option value="BOM JESUS DA SELVA" {{#if_equal profissional.municipio "BOM JESUS DA SELVA"}}selected{{/if_equal}}>BOM JESUS DA SELVA</option>
                        <option value="CIDELÂNDIA" {{#if_equal profissional.municipio "CIDELÂNDIA"}}selected{{/if_equal}}>CIDELÂNDIA</option>
                        <option value="VILA NOVA DOS MARTÍRIOS" {{#if_equal profissional.municipio "VILA NOVA DOS MARTÍRIOS"}}selected{{/if_equal}}>VILA NOVA DOS MARTÍRIOS</option>
                        <option value="SÃO PEDRO DA ÁGUA BRANCA" {{#if_equal profissional.municipio "SÃO PEDRO DA ÁGUA BRANCA"}}selected{{/if_equal}}>SÃO PEDRO DA ÁGUA BRANCA</option>
                        <option value="BURITICUPU" {{#if_equal profissional.municipio "BURITICUPU"}}selected{{/if_equal}}>BURITICUPU</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="nacionalidade">Nacionalidade</label>
                        <select class="form-control" id="nacionalidade" name="nacionalidade">
                            <option value="BRASILEIRA" {{#if_equal profissional.nacionalidade "BRASILEIRA"}}selected{{/if_equal}}>Brasileira</option>
                            <option value="BRASILEIRA NATURALIZADO" {{#if_equal profissional.nacionalidade "BRASILEIRA NATURALIZADO"}}selected{{/if_equal}}>Brasileira naturalizado</option>
                            <option value="ESTRANGEIRO" {{#if_equal profissional.nacionalidade "ESTRANGEIRO"}}selected{{/if_equal}}>Estrangeiro</option>
                        </select>
                    </div>
                </div>   
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="pais">País de origem</label>
                        <select class="form-control" id="pais" name="pais">                            
                            <option value="África do Sul"> África do Sul</option>
                            <option value="Albânia">Albânia</option>
                            <option value="Alemanha">Alemanha</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antigua">Antigua</option>
                            <option value="Arábia Saudita">Arábia Saudita</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armênia">Armênia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Austrália">Austrália</option>
                            <option value="Áustria">Áustria</option>
                            <option value="Azerbaijão">Azerbaijão</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrein">Bahrein</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Bélgica">Bélgica</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermudas">Bermudas</option>
                            <option value="Botsuana">Botsuana</option>
                            <option value="Brasil" selected>Brasil</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgária">Bulgária</option>
                            <option value="Burkina Fasso">Burkina Fasso</option>
                            <option value="botão">botão</option>
                            <option value="Cabo Verde">Cabo Verde</option>
                            <option value="Camarões">Camarões</option>
                            <option value="Camboja">Camboja</option>
                            <option value="Canadá">Canadá</option>
                            <option value="Cazaquistão">Cazaquistão</option>
                            <option value="Chade">Chade</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Cidade do Vaticano">Cidade do Vaticano</option>
                            <option value="Colômbia">Colômbia</option>
                            <option value="Congo">Congo</option>
                            <option value="Coréia do Sul">Coréia do Sul</option>
                            <option value="Costa do Marfim">Costa do Marfim</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croácia">Croácia</option>
                            <option value="Dinamarca">Dinamarca</option>
                            <option value="Djibuti">Djibuti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="EUA">EUA</option>
                            <option value="Egito">Egito</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Emirados Árabes">Emirados Árabes</option>
                            <option value="Equador">Equador</option>
                            <option value="Eritréia">Eritréia</option>
                            <option value="Escócia">Escócia</option>
                            <option value="Eslováquia">Eslováquia</option>
                            <option value="Eslovênia">Eslovênia</option>
                            <option value="Espanha">Espanha</option>
                            <option value="Estônia">Estônia</option>
                            <option value="Etiópia">Etiópia</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Filipinas">Filipinas</option>
                            <option value="Finlândia">Finlândia</option>
                            <option value="França">França</option>
                            <option value="Gabão">Gabão</option>
                            <option value="Gâmbia">Gâmbia</option>
                            <option value="Gana">Gana</option>
                            <option value="Geórgia">Geórgia</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Granada">Granada</option>
                            <option value="Grécia">Grécia</option>
                            <option value="Guadalupe">Guadalupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guiana">Guiana</option>
                            <option value="Guiana Francesa">Guiana Francesa</option>
                            <option value="Guiné-bissau">Guiné-bissau</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Holanda">Holanda</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungria">Hungria</option>
                            <option value="Iêmen">Iêmen</option>
                            <option value="Ilhas Cayman">Ilhas Cayman</option>
                            <option value="Ilhas Cook">Ilhas Cook</option>
                            <option value="Ilhas Curaçao">Ilhas Curaçao</option>
                            <option value="Ilhas Marshall">Ilhas Marshall</option>
                            <option value="Ilhas Turks & Caicos">Ilhas Turks e Caicos</option>
                            <option value="Ilhas Virgens (brit.)">Ilhas Virgens (brit.)</option>
                            <option value="Ilhas Virgens(amer.)">Ilhas Virgens(amer.)</option>
                            <option value="Ilhas Wallis e Futuna">Ilhas Wallis e Futuna</option>
                            <option value="Índia">Índia</option>
                            <option value="Indonésia">Indonésia</option>
                            <option value="Inglaterra">Inglaterra</option>
                            <option value="Irlanda">Irlanda</option>
                            <option value="Islândia">Islândia</option>
                            <option value="Israel">Israel</option>
                            <option value="Itália">Itália</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japão">Japão</option>
                            <option value="Jordânia">Jordânia</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Líbano">Líbano</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lituânia">Lituânia</option>
                            <option value="Luxemburgo">Luxemburgo</option>
                            <option value="Macau">Macau</option>
                            <option value="Macedônia">Macedônia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malásia">Malásia</option>
                            <option value="Malaui">Malaui</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marrocos">Marrocos</option>
                            <option value="Martinica">Martinica</option>
                            <option value="Mauritânia">Mauritânia</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="México">México</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Mônaco">Mônaco</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Nicarágua">Nicarágua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigéria">Nigéria</option>
                            <option value="Noruega">Noruega</option>
                            <option value="Nova Caledônia">Nova Caledônia</option>
                            <option value="Nova Zelândia">Nova Zelândia</option>
                            <option value="Omã">Omã</option>
                            <option value="Palau">Palau</option>
                            <option value="Panamá">Panamá</option>
                            <option value="Papua-nova Guiné">Papua-nova Guiné</option>
                            <option value="Paquistão">Paquistão</option>
                            <option value="Peru">Peru</option>
                            <option value="Polinésia Francesa">Polinésia Francesa</option>
                            <option value="Polônia">Polônia</option>
                            <option value="Porto Rico">Porto Rico</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Quênia">Quênia</option>
                            <option value="Rep. Dominicana">Rep. Dominicana</option>
                            <option value="Rep. Tcheca">Rep. Tcheca</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romênia">Romênia</option>
                            <option value="Ruanda">Ruanda</option>
                            <option value="Rússia">Rússia</option>
                            <option value="Saipan">Saipan</option>
                            <option value="Samoa Americana">Samoa Americana</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serra Leone">Serra Leone</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Singapura">Singapura</option>
                            <option value="Síria">Síria</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="St. Kitts & Nevis">St. Kitts e Nevis</option>
                            <option value="St. Lúcia">St. Lúcia</option>
                            <option value="St. Vincent">St. Vincent</option>
                            <option value="Sudão">Sudão</option>
                            <option value="Suécia">Suécia</option>
                            <option value="Suiça">Suiça</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Tailândia">Tailândia</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tanzânia">Tanzânia</option>
                            <option value="Togo">Togo</option>
                            <option value="Trinidad & Tobago">Trinidad e Tobago</option>
                            <option value="Tunísia">Tunísia</option>
                            <option value="Turquia">Turquia</option>
                            <option value="Ucrânia">Ucrânia</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Uruguai">Uruguai</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnã">Vietnã</option>
                            <option value="Zaire">Zaire</option>
                            <option value="Zâmbia">Zâmbia</option>
                            <option value="Zimbábue">Zimbábue</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cor">Cor/Raça</label>
                        <select class="form-control" id="cor" name="cor">
                            <option value="BRANCA" {{#if_equal profissional.cor "BRANCA"}}selected{{/if_equal}}>BRANCA</option>
                            <option value="PRETA" {{#if_equal profissional.cor "PRETA"}}selected{{/if_equal}}>PRETA</option>
                            <option value="PARDA" {{#if_equal profissional.cor "PARDA"}}selected{{/if_equal}}>PARDA</option>
                            <option value="AMARELA" {{#if_equal profissional.cor "AMARELA"}}selected{{/if_equal}}>AMARELA</option>
                            <option value="INDÍGENA" {{#if_equal profissional.cor "INDÍGENA"}}selected{{/if_equal}}>INDÍGENA</option>
                            <option value="QUILOMBOLA" {{#if_equal profissional.cor "QUILOMBOLA"}}selected{{/if_equal}}>QUILOMBOLA</option>
                            <option value="NÃO DECLARADA" {{#if_equal profissional.cor "NÃO DECLARADA"}}selected{{/if_equal}}>NÃO DECLARADA</option>                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="estadocivil">Estado Civil</label>
                        <select class="form-control" id="estadocivil" name="estadocivil">
                            <option value="solteiro" {{#if_equal profissional.estadocivil "solteiro"}}selected{{/if_equal}}>Solteiro(a)</option>
                            <option value="casado" {{#if_equal profissional.estadocivil "casado"}}selected{{/if_equal}}>Casado(a)</option>
                            <option value="separado" {{#if_equal profissional.estadocivil "separado"}}selected{{/if_equal}}>Separado(a)</option>
                            <option value="divorciado" {{#if_equal profissional.estadocivil "divorciado"}}selected{{/if_equal}}>Divorciado(a)</option>                           
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="conjugue">Conjugue</label>
                        <input type="text" class="form-control" id="conjugue" name="conjugue" value="{{profissional.conjugue}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mae">Nome da Mãe</label>
                        <input type="text" class="form-control" id="mae" name="mae" value="{{profissional.mae}}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pai">Nome do Pai</label>
                        <input type="text" class="form-control" id="pai" name="pai" value="{{profissional.pai}}">
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dataadmissao">Data Admissão</label>
                        <input type="date" class="form-control" id="dataadmissao" name="dataadmissao" value="{{profissional.dataadmissao}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="datademissao">Data Demissão</label>
                        <input type="date" class="form-control" id="datademissao" name="datademissao" value="{{profissional.datademissao}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cargo">Cargo</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" value="{{profissional.cargo}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="chsemanais">CH Semanais</label>
                        <input type="text" class="form-control" id="chsemanais" name="chsemanais" value="{{profissional.chsemanais}}">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="necessidade">Necessiadade Especial</label>
                        <select class="form-control" id="necessidade" name="necessidade">
                            <option value="Baixavisao" {{#if_equal profissional.necessidade "Baixavisao"}}selected{{/if_equal}}>Baixa Visão</option>
                            <option value="Cegueira" {{#if_equal profissional.necessidade "Cegueira"}}selected{{/if_equal}}>Cegueira</option>
                            <option value="Deficienciaauditiva" {{#if_equal profissional.necessidade "Deficienciaauditiva"}}selected{{/if_equal}}>Deficiência Auditiva</option>
                            <option value="Deficienciafisica" {{#if_equal profissional.necessidade "Deficienciafisica"}}selected{{/if_equal}}>Deficiência Física</option>
                            <option value="Deficienciaintelectual" {{#if_equal profissional.necessidade "Deficienciaintelectual"}}selected{{/if_equal}}>Deficiência Intelectual</option> 
                            <option value="Deficienciamultipla" {{#if_equal profissional.necessidade "Deficienciamultipla"}}selected{{/if_equal}}>Deficiência Multipla</option> 
                            <option value="Surdez" {{#if_equal profissional.necessidade "Surdez"}}selected{{/if_equal}}>Surdez</option>
                            <option value="surocegueira" {{#if_equal profissional.necessidade "surocegueira"}}selected{{/if_equal}}>Surdocegueira</option>                         
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="tipoendereco">Tipo de endereço</label>
                        <select class="form-control" id="tipoendereco" name="tipoendereco">
                            <option value="zonaurbana" {{#if_equal profissional.tipoendereco "zonaurbana"}}selected{{/if_equal}}>Zona Urbana</option>
                            <option value="zonarural" {{#if_equal profissional.tipoendereco "zonarural"}}selected{{/if_equal}}>Zona Rural</option>                        
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="nees" name="nees" value="true" {{#if_equal profissional.nees true}}checked{{/if_equal}}>
                        Possui NEES
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="inep" name="inep" value="true" {{#if_equal profissional.inep true}}checked{{/if_equal}}>
                        Registro cadsatrado no INEP
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="financeiro" name="financeiro" value="true" {{#if_equal profissional.financeiro true}}checked{{/if_equal}}>
                        Permitir Lançamento no Financeiro
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">INFORMAÇÕES DE LOGIN</h5>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="email@email.com" value="{{profissional.email}}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" value="{{profissional.senha}}">
                    </div>
                </div>
                <div class="col-sm-4 mt-4">
                    <button type="submit" class="btn btn-success">Alterar Senha</button> 
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="bloqueio" name="bloqueio" value="true" {{#if_equal profissional.bloqueio true}}checked{{/if_equal}}>
                        Bloqueio Total
                    </div>
                </div>
                <div class="col-sm-6 mt-4">
                    <button type="submit" class="btn btn-success">Enviar senha para o email do profissinal</button> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h7 class="card-title" style="color:black">Obs: você pode cadastrar o profissional sem nenhuma senha, quando for feito o primeiro
                        acesso, uma senha temporária será enviada para o email indicado acima, após o primeiro
                        acesso, o sistema irá solicitar ao profissional a alteração da senha temporária.</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">ENDEREÇO</h5>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                    <inp    ut type="text" class="form-control cep" id="cep" name="cep" value="{{profissional.cep}}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" value="{{profissional.endereco}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" name="bairro" value="{{profissional.bairro}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="numero">Numero</label>
                        <input type="text" class="form-control" id="numero" name="numero" value="{{profissional.numero}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" name="complemento" value="{{profissional.complemento}}">
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufEndereco">UF</label>
                        <select class="form-control" id="ufEndereco" name="ufEndereco">
                            <option value="MA" {{#if_equal profissional.ufEndereco "MA"}}selected{{/if_equal}}>MA</option>
                            <option value="AC" {{#if_equal profissional.ufEndereco "AC"}}selected{{/if_equal}}>AC</option>
                            <option value="AL" {{#if_equal profissional.ufEndereco "AL"}}selected{{/if_equal}}>AL</option>
                            <option value="AP" {{#if_equal profissional.ufEndereco "AP"}}selected{{/if_equal}}>AP</option>
                            <option value="AM" {{#if_equal profissional.ufEndereco "AM"}}selected{{/if_equal}}>AM</option>
                            <option value="BA" {{#if_equal profissional.ufEndereco "BA"}}selected{{/if_equal}}>BA</option>
                            <option value="CE" {{#if_equal profissional.ufEndereco "CE"}}selected{{/if_equal}}>CE</option>
                            <option value="DF" {{#if_equal profissional.ufEndereco "DF"}}selected{{/if_equal}}>DF</option>
                            <option value="ES" {{#if_equal profissional.ufEndereco "ES"}}selected{{/if_equal}}>ES</option>
                            <option value="GO" {{#if_equal profissional.ufEndereco "GO"}}selected{{/if_equal}}>GO</option>
                            <option value="MT" {{#if_equal profissional.ufEndereco "MT"}}selected{{/if_equal}}>MT</option>
                            <option value="MS" {{#if_equal profissional.ufEndereco "MS"}}selected{{/if_equal}}>MS</option>
                            <option value="MG" {{#if_equal profissional.ufEndereco "MG"}}selected{{/if_equal}}>MG</option>
                            <option value="PA" {{#if_equal profissional.ufEndereco "PA"}}selected{{/if_equal}}>PA</option>
                            <option value="PB" {{#if_equal profissional.ufEndereco "PB"}}selected{{/if_equal}}>PB</option>
                            <option value="PR" {{#if_equal profissional.ufEndereco "PR"}}selected{{/if_equal}}>PR</option>
                            <option value="PE" {{#if_equal profissional.ufEndereco "PE"}}selected{{/if_equal}}>PE</option>
                            <option value="PI" {{#if_equal profissional.ufEndereco "PI"}}selected{{/if_equal}}>PI</option>
                            <option value="RJ" {{#if_equal profissional.ufEndereco "RJ"}}selected{{/if_equal}}>RJ</option>
                            <option value="RN" {{#if_equal profissional.ufEndereco "RN"}}selected{{/if_equal}}>RN</option>
                            <option value="RS" {{#if_equal profissional.ufEndereco "RS"}}selected{{/if_equal}}>RS</option>
                            <option value="RO" {{#if_equal profissional.ufEndereco "RO"}}selected{{/if_equal}}>RO</option>
                            <option value="RR" {{#if_equal profissional.ufEndereco "RR"}}selected{{/if_equal}}>RR</option>
                            <option value="SC" {{#if_equal profissional.ufEndereco "SC"}}selected{{/if_equal}}>SC</option>
                            <option value="SP" {{#if_equal profissional.ufEndereco "SP"}}selected{{/if_equal}}>SP</option>
                            <option value="SE" {{#if_equal profissional.ufEndereco "SE"}}selected{{/if_equal}}>SE</option>
                            <option value="TO" {{#if_equal profissional.ufEndereco "TO"}}selected{{/if_equal}}>TO</option>
                            <option value="EX" {{#if_equal profissional.ufEndereco "EX"}}selected{{/if_equal}}>EX</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="municipiomoradia">Município</label>
                    <select class="form-control" id="municipiomoradia" name="municipiomoradia">
                        <option value="AÇAILÂNDIA" {{#if_equal profissional.municipiomoradia "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="ITINGA" {{#if_equal profissional.municipiomoradia "ITINGA"}}selected{{/if_equal}}>ITINGA</option>
                        <option value="SÃO FRANCISCO DO BREJÃO" {{#if_equal profissional.municipiomoradia "SÃO FRANCISCO DO BREJÃO"}}selected{{/if_equal}}>SÃO FRANCISCO DO BREJÃO</option>
                        <option value="BOM JESUS DA SELVA" {{#if_equal profissional.municipiomoradia "BOM JESUS DA SELVA"}}selected{{/if_equal}}>BOM JESUS DA SELVA</option>
                        <option value="CIDELÂNDIA" {{#if_equal profissional.municipiomoradia "CIDELÂNDIA"}}selected{{/if_equal}}>CIDELÂNDIA</option>
                        <option value="VILA NOVA DOS MARTÍRIOS" {{#if_equal profissional.municipiomoradia "VILA NOVA DOS MARTÍRIOS"}}selected{{/if_equal}}>VILA NOVA DOS MARTÍRIOS</option>
                        <option value="SÃO PEDRO DA ÁGUA BRANCA" {{#if_equal profissional.municipiomoradia "SÃO PEDRO DA ÁGUA BRANCA"}}selected{{/if_equal}}>SÃO PEDRO DA ÁGUA BRANCA</option>
                        <option value="BURITICUPU" {{#if_equal profissional.municipiomoradia "BURITICUPU"}}selected{{/if_equal}}>BURITICUPU</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telfixo">Tel. Fixo</label>
                        <input type="text" class="form-control phone" id="telfixo" name="telfixo" value="{{profissional.telfixo}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telcelular">Tel. Celular</label>
                        <input type="text" class="form-control phone" id="telcelular" name="telcelular" value="{{profissional.telcelular}}">
                    </div>
                </div>    
            </div>  
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">DOCUMENTAÇÃO</h5>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="carteira">N. Carteira Profissional</label>
                        <input type="text" class="form-control" id="carteira" name="carteira" value="{{profissional.carteira}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="serie">Série</label>
                        <input type="text" class="form-control" id="serie" name="serie" value="{{profissional.serie}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="emissaodoc">Emissão</label>
                        <input type="date" class="form-control" id="emissaodoc" name="emissaodoc" value="{{profissional.emissaodoc}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufdoc">UF</label>
                        <select class="form-control" id="ufdoc" name="ufdoc">
                            <option value="MA" {{#if_equal profissional.ufdoc "MA"}}selected{{/if_equal}}>MA</option>
                            <option value="AC" {{#if_equal profissional.ufdoc "AC"}}selected{{/if_equal}}>AC</option>
                            <option value="AL" {{#if_equal profissional.ufdoc "AL"}}selected{{/if_equal}}>AL</option>
                            <option value="AP" {{#if_equal profissional.ufdoc "AP"}}selected{{/if_equal}}>AP</option>
                            <option value="AM" {{#if_equal profissional.ufdoc "AM"}}selected{{/if_equal}}>AM</option>
                            <option value="BA" {{#if_equal profissional.ufdoc "BA"}}selected{{/if_equal}}>BA</option>
                            <option value="CE" {{#if_equal profissional.ufdoc "CE"}}selected{{/if_equal}}>CE</option>
                            <option value="DF" {{#if_equal profissional.ufdoc "DF"}}selected{{/if_equal}}>DF</option>
                            <option value="ES" {{#if_equal profissional.ufdoc "ES"}}selected{{/if_equal}}>ES</option>
                            <option value="GO" {{#if_equal profissional.ufdoc "GO"}}selected{{/if_equal}}>GO</option>
                            <option value="MT" {{#if_equal profissional.ufdoc "MT"}}selected{{/if_equal}}>MT</option>
                            <option value="MS" {{#if_equal profissional.ufdoc "MS"}}selected{{/if_equal}}>MS</option>
                            <option value="MG" {{#if_equal profissional.ufdoc "MG"}}selected{{/if_equal}}>MG</option>
                            <option value="PA" {{#if_equal profissional.ufdoc "PA"}}selected{{/if_equal}}>PA</option>
                            <option value="PB" {{#if_equal profissional.ufdoc "PB"}}selected{{/if_equal}}>PB</option>
                            <option value="PR" {{#if_equal profissional.ufdoc "PR"}}selected{{/if_equal}}>PR</option>
                            <option value="PE" {{#if_equal profissional.ufdoc "PE"}}selected{{/if_equal}}>PE</option>
                            <option value="PI" {{#if_equal profissional.ufdoc "PI"}}selected{{/if_equal}}>PI</option>
                            <option value="RJ" {{#if_equal profissional.ufdoc "RJ"}}selected{{/if_equal}}>RJ</option>
                            <option value="RN" {{#if_equal profissional.ufdoc "RN"}}selected{{/if_equal}}>RN</option>
                            <option value="RS" {{#if_equal profissional.ufdoc "RS"}}selected{{/if_equal}}>RS</option>
                            <option value="RO" {{#if_equal profissional.ufdoc "RO"}}selected{{/if_equal}}>RO</option>
                            <option value="RR" {{#if_equal profissional.ufdoc "RR"}}selected{{/if_equal}}>RR</option>
                            <option value="SC" {{#if_equal profissional.ufdoc "SC"}}selected{{/if_equal}}>SC</option>
                            <option value="SP" {{#if_equal profissional.ufdoc "SP"}}selected{{/if_equal}}>SP</option>
                            <option value="SE" {{#if_equal profissional.ufdoc "SE"}}selected{{/if_equal}}>SE</option>
                            <option value="TO" {{#if_equal profissional.ufdoc "TO"}}selected{{/if_equal}}>TO</option>
                            <option value="EX" {{#if_equal profissional.ufdoc "EX"}}selected{{/if_equal}}>EX</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="titulo">Título de Eleitor</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" value="{{profissional.titulo}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="secao">Seção</label>
                        <input type="text" class="form-control" id="secao" name="secao" value="{{profissional.secao}}">    
                    </div>
                </div>   
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="zona">Zona</label>
                        <input type="text" class="form-control" id="zona" name="zona" value="{{profissional.zona}}">    
                    </div>
                </div>  
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="reservista">Certificado Reservista</label>
                        <input type="text" class="form-control" id="reservista" name="reservista" value="{{profissional.reservista}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="passaporte">Passaporte:</label>
                        <input type="text" class="form-control" id="passaporte" name="passaporte" value="{{profissional.passaporte}}">    
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                    <label for="tipocertidao">Tipo de Certidão</label>
                    <select class="form-control" id="tipocertidao" name="tipocertidao">
                        <option value="naoconsta" {{#if_equal profissional.tipocertidao "naoconsta"}}selected{{/if_equal}}>Não Consta</option>
                        <option value="Nascimento" {{#if_equal profissional.tipocertidao "Nascimento"}}selected{{/if_equal}}>Nascimento</option>
                        <option value="Casamento" {{#if_equal profissional.tipocertidao "Casamento"}}selected{{/if_equal}}>Casamento</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="certidao">Certião/Matricula:</label>
                        <input type="text" class="form-control" id="certidao" name="certidao" value="{{profissional.certidao}}">    
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="livro">Livro:</label>
                        <input type="text" class="form-control" id="livro" name="livro" value="{{profissional.livro}}">    
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="folha">Folha:</label>
                        <input type="text" class="form-control" id="folha" name="folha" value="{{profissional.folha}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="datacertidao">Data Emissão:</label>
                        <input type="date" class="form-control" id="datacertidao" name="datacertidao" value="{{profissional.datacertidao}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufcertidao">UF</label>
                        <select class="form-control" id="ufcertidao" name="ufcertidao">
                            <option value="MA" {{#if_equal profissional.ufcertidao "MA"}}selected{{/if_equal}}>MA</option>
                            <option value="AC" {{#if_equal profissional.ufcertidao "AC"}}selected{{/if_equal}}>AC</option>
                            <option value="AL" {{#if_equal profissional.ufcertidao "AL"}}selected{{/if_equal}}>AL</option>
                            <option value="AP" {{#if_equal profissional.ufcertidao "AP"}}selected{{/if_equal}}>AP</option>
                            <option value="AM" {{#if_equal profissional.ufcertidao "AM"}}selected{{/if_equal}}>AM</option>
                            <option value="BA" {{#if_equal profissional.ufcertidao "BA"}}selected{{/if_equal}}>BA</option>
                            <option value="CE" {{#if_equal profissional.ufcertidao "CE"}}selected{{/if_equal}}>CE</option>
                            <option value="DF" {{#if_equal profissional.ufcertidao "DF"}}selected{{/if_equal}}>DF</option>
                            <option value="ES" {{#if_equal profissional.ufcertidao "ES"}}selected{{/if_equal}}>ES</option>
                            <option value="GO" {{#if_equal profissional.ufcertidao "GO"}}selected{{/if_equal}}>GO</option>
                            <option value="MT" {{#if_equal profissional.ufcertidao "MT"}}selected{{/if_equal}}>MT</option>
                            <option value="MS" {{#if_equal profissional.ufcertidao "MS"}}selected{{/if_equal}}>MS</option>
                            <option value="MG" {{#if_equal profissional.ufcertidao "MG"}}selected{{/if_equal}}>MG</option>
                            <option value="PA" {{#if_equal profissional.ufcertidao "PA"}}selected{{/if_equal}}>PA</option>
                            <option value="PB" {{#if_equal profissional.ufcertidao "PB"}}selected{{/if_equal}}>PB</option>
                            <option value="PR" {{#if_equal profissional.ufcertidao "PR"}}selected{{/if_equal}}>PR</option>
                            <option value="PE" {{#if_equal profissional.ufcertidao "PE"}}selected{{/if_equal}}>PE</option>
                            <option value="PI" {{#if_equal profissional.ufcertidao "PI"}}selected{{/if_equal}}>PI</option>
                            <option value="RJ" {{#if_equal profissional.ufcertidao "RJ"}}selected{{/if_equal}}>RJ</option>
                            <option value="RN" {{#if_equal profissional.ufcertidao "RN"}}selected{{/if_equal}}>RN</option>
                            <option value="RS" {{#if_equal profissional.ufcertidao "RS"}}selected{{/if_equal}}>RS</option>
                            <option value="RO" {{#if_equal profissional.ufcertidao "RO"}}selected{{/if_equal}}>RO</option>
                            <option value="RR" {{#if_equal profissional.ufcertidao "RR"}}selected{{/if_equal}}>RR</option>
                            <option value="SC" {{#if_equal profissional.ufcertidao "SC"}}selected{{/if_equal}}>SC</option>
                            <option value="SP" {{#if_equal profissional.ufcertidao "SP"}}selected{{/if_equal}}>SP</option>
                            <option value="SE" {{#if_equal profissional.ufcertidao "SE"}}selected{{/if_equal}}>SE</option>
                            <option value="TO" {{#if_equal profissional.ufcertidao "TO"}}selected{{/if_equal}}>TO</option>
                            <option value="EX" {{#if_equal profissional.ufcertidao "EX"}}selected{{/if_equal}}>EX</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cartorio">Cartório:</label>
                        <input type="text" class="form-control" id="cartorio" name="cartorio" value="{{profissional.cartorio}}">    
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">CARGA HORÁRIA</h5>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cargahoria">Carga Horária:</label>
                        <input type="text" class="form-control" id="cargahoria" name="cargahoria" value="{{profissional.cargahoria}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="decreto">Decreto:</label>
                        <input type="text" class="form-control" id="decreto" name="decreto" value="{{profissional.decreto}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="termo">Termo:</label>
                        <input type="text" class="form-control" id="termo" name="termo" value="{{profissional.termo}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="temposervico">Tempo de Serviço:</label>
                        <input type="text" class="form-control" id="temposervico" name="temposervico" value="{{profissional.temposervico}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dataenquadramento">Data Enquadramento:</label>
                        <input type="date" class="form-control" id="dataenquadramento" name="dataenquadramento" value="{{profissional.dataenquadramento}}">    
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="area">Área:</label>
                        <input type="text" class="form-control" id="area" name="area" value="{{profissional.area}}">    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">Ficha de Saúde</h5>
            <hr>
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input type="text" class="form-control" id="peso" name="peso" value="{{profissional.peso}}">    
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="altura">Altura:</label>
                        <input type="text" class="form-control" id="altura" name="altura" value="{{profissional.altura}}">    
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="tiposanguineo">Tipo Sanguíneo:</label>
                        <input type="text" class="form-control" id="tiposanguineo" name="tiposanguineo" value="{{profissional.tiposanguineo}}">    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="alergia">Alergias:</label>
                        <input type="text" class="form-control" id="alergia" name="alergia" value="{{profissional.alergia}}">    
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tipomedicamento">Tipo Medicamento:</label>
                        <input type="text" class="form-control" id="tipomedicamento" name="tipomedicamento" value="{{profissional.tipomedicamento}}">    
                    </div>
                </div>     
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="deficienciafisica" name="deficienciafisica" value="true" {{#if_equal profissional.deficienciafisica true}}checked{{/if_equal}}>
                        Deficiência Física
                    </div>
                </div>    
                <div class="col-sm-3">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="fumante" name="fumante" value="true" {{#if_equal profissional.fumante true}}checked{{/if_equal}}>
                        Fumante
                    </div>
                </div> 
                <div class="col-sm-6">
                    <div class="form-group mt-4">
                        <input type="checkbox" class="form-control-md" id="tomamedicacao" name="tomamedicacao" value="true" {{#if_equal profissional.tomamedicacao true}}checked{{/if_equal}}>
                        Toma Medicação regularmente
                    </div>
                </div>  
            </div>    
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">DADOS BANCÁRIOS</h5>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="banco">Banco:</label>
                        <input type="text" class="form-control" id="banco" name="banco" value="{{profissional.banco}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="agencia">Agência:</label>
                        <input type="text" class="form-control" id="agencia" name="agencia" value="{{profissional.agencia}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="conta">Conta:</label>
                        <input type="text" class="form-control" id="conta" name="conta" value="{{profissional.conta}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="tipoconta">Tipo</label>
                    <select class="form-control" id="tipoconta" name="tipoconta">
                        <option value="corrente" {{#if_equal profissional.tipoconta "EX"}}selected{{/if_equal}}>Conta Corrente</option>
                        <option value="poupanca" {{#if_equal profissional.tipoconta "EX"}}selected{{/if_equal}}>Conta Poupança</option>
                    </select>
                    </div>
                </div>    
            </div>    
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="banco1">Banco:</label>
                        <input type="text" class="form-control" id="banco1" name="banco1" value="{{profissional.banco1}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="agencia1">Agência:</label>
                        <input type="text" class="form-control" id="agencia1" name="agencia1" value="{{profissional.agencia1}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="conta1">Conta:</label>
                        <input type="text" class="form-control" id="conta1" name="conta1" value="{{profissional.conta1}}">    
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="tipoconta1">Tipo</label>
                    <select class="form-control" id="tipoconta1" name="tipoconta1">
                        <option value="corrente" {{#if_equal profissional.tipoconta1 "EX"}}selected{{/if_equal}}>Conta Corrente</option>
                        <option value="poupanca" {{#if_equal profissional.tipoconta1 "EX"}}selected{{/if_equal}}>Conta Poupança</option>
                    </select>
                    </div>
                </div>    
            </div>    
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">OBSERVAÇÕES</h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="observacoes">Obs:</label>
                        <textarea type="text" class="form-control" id="observacoes" name="observacoes" value="{{profissional.observacoes}}"></textarea>    
                    </div>
                </div> 
            </div>    
        </div>   
    </div>
    <div class="row">
        <div class="col-12 mb-4 mt-4 text-center">
            <button type="submit" class="btn btn-success">Salvar profissional</button> 
        </div>
    </div>

    <!-- Modal -->
    <div class="modal hide fade mx-auto" id="cadastroSucesso" tabindex="-1" aria-labelledby="cadastroSucessoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastroSucessoLabel">Sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                A edição do profissional foi efetuada!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalOk" data-dismiss="modal">OK!</button>        
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>

<!-- ENVIO DO FORMULÁRIO -->
<script>
    $(document).ready(() => {
        $("#formEditar").submit(function(event){
            event.preventDefault();            
            $.ajax({
                type: "post",
                url: "/profissionais/cadastro/edit",
                data: $(this).serialize(),
                success: function(data){          
                    console.log(data)                      
                    $("#cadastroSucesso").modal('show')
                }
            })
        })
    })   
</script>

<!-- TRATAMENTO DAS DATAS -->
<script>
    insertFormatedDate("dataDoc", "{{profissional.dataDoc}}")
    insertFormatedDate("dataNasc", "{{profissional.dataNasc}}")
    insertFormatedDate("dataadmissao", "{{profissional.dataadmissao}}")
    insertFormatedDate("datademissao", "{{profissional.datademissao}}")
    insertFormatedDate("emissaodoc", "{{profissional.emissaodoc}}")
    insertFormatedDate("datacertidao", "{{profissional.datacertidao}}")
    insertFormatedDate("dataenquadramento", "{{profissional.dataenquadramento}}")
</script>

<!-- CONFIGURAÇÃO DAS MÁSCARAS -->
<script>
    $('.phone').attr("onkeypress", "mascara(this, aplicarTelefone)")
    $('.phone').attr("maxlength", "15")

    $('.cep').attr("onkeypress", "mascara(this, aplicarCep)")
    $('.cep').attr("maxlength", "9")

    $('.cpf').attr("onkeypress", "mascara(this, aplicarCpf)")
    $('.cpf').attr("maxlength", "14")

    $('.rg').attr("onkeypress", "mascara(this, aplicarRg)")
    $('.rg').attr("maxlength", "13")
</script>

<!-- BOTÕES DAS ABAS -->
<script>
    $('#btn_resumo').click(() => {
        $("form").hide();
        $("#formEditar").show();
    });

    $('#btn_cursos_esp').click(() => {
        $("form").hide();
        $("#formCursos").show();
    })
</script>
