<h3 style="color: darkblue;" class="mb-4">Edição de Escola</h3>

<form id="formEditar">
    <input type="hidden" name="id" id="id" value="{{escola._id}}"> 
<div class="card">
<div class="card-body">
    <div class="card">
        <div class="card-body mt-4">
            <h5 class="card-title" style="color:darkblue">INFORMAÇÕES DA UNIDADE ESCOLAR</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                    <label for="pais">País</label>
                    <select class="form-control" id="pais" name="pais" value="{{escola.pais}}">
                        <option>REPÚBLICA FEDERATIVA DO BRASIL</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufEscola">Estado</label>
                        <select class="form-control" id="ufEscola" name="ufEscola">
                            <option value="MA" {{#if_equal escola.ufEscola "MA"}}selected{{/if_equal}}>Maranhão</option>
                            <option value="AC" {{#if_equal escola.ufEscola "AC"}}selected{{/if_equal}}>Acre</option>
                            <option value="AL" {{#if_equal escola.ufEscola "AL"}}selected{{/if_equal}}>Alagoas</option>
                            <option value="AP" {{#if_equal escola.ufEscola "AP"}}selected{{/if_equal}}>Amapá</option>
                            <option value="AM" {{#if_equal escola.ufEscola "AM"}}selected{{/if_equal}}>Amazonas</option>
                            <option value="BA" {{#if_equal escola.ufEscola "BA"}}selected{{/if_equal}}>Bahia</option>
                            <option value="CE" {{#if_equal escola.ufEscola "CE"}}selected{{/if_equal}}>Ceará</option>
                            <option value="DF" {{#if_equal escola.ufEscola "DF"}}selected{{/if_equal}}Distrito Federal</option>
                            <option value="ES" {{#if_equal escola.ufEscola "ES"}}selected{{/if_equal}}>Espírito Santo</option>
                            <option value="GO" {{#if_equal escola.ufEscola "GO"}}selected{{/if_equal}}>Goiás</option>
                            <option value="MT" {{#if_equal escola.ufEscola "MT"}}selected{{/if_equal}}>Mato Grosso</option>
                            <option value="MS" {{#if_equal escola.ufEscola "MS"}}selected{{/if_equal}}>Mato Grosso do Sul</option>
                            <option value="MG" {{#if_equal escola.ufEscola "MG"}}selected{{/if_equal}}>Minas Gerais</option>
                            <option value="PA" {{#if_equal escola.ufEscola "PA"}}selected{{/if_equal}}>Pará</option>
                            <option value="PB" {{#if_equal escola.ufEscola "PB"}}selected{{/if_equal}}>Paraíba</option>
                            <option value="PR" {{#if_equal escola.ufEscola "PR"}}selected{{/if_equal}}>Paraná</option>
                            <option value="PE" {{#if_equal escola.ufEscola "PE"}}selected{{/if_equal}}>Pernambuco</option>
                            <option value="PI" {{#if_equal escola.ufEscola "PI"}}selected{{/if_equal}}>Piauí</option>
                            <option value="RJ" {{#if_equal escola.ufEscola "RJ"}}selected{{/if_equal}}>Rio de Janeiro</option>
                            <option value="RN" {{#if_equal escola.ufEscola "RN"}}selected{{/if_equal}}>Rio Grande do Norte</option>
                            <option value="RS" {{#if_equal escola.ufEscola "RS"}}selected{{/if_equal}}>Rio Grande do Sul</option>
                            <option value="RO" {{#if_equal escola.ufEscola "RO"}}selected{{/if_equal}}>Rondônia</option>
                            <option value="RR" {{#if_equal escola.ufEscola "RR"}}selected{{/if_equal}}>Roraima</option>
                            <option value="SC" {{#if_equal escola.ufEscola "SC"}}selected{{/if_equal}}>Santa Catarina</option>
                            <option value="SP" {{#if_equal escola.ufEscola "SP"}}selected{{/if_equal}}>São Paulo</option>
                            <option value="SE" {{#if_equal escola.ufEscola "SE"}}selected{{/if_equal}}>Sergipe</option>
                            <option value="TO" {{#if_equal escola.ufEscola "TO"}}selected{{/if_equal}}>Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="regiaoAdministrativa">Região Administrativa</label>
                    <select class="form-control" id="regiaoAdministrativa" name="regiaoAdministrativa">
                        <option value="URE DE AÇAILÂNDIA" {{#if_equal escola.regiaoAdministrativa "URE DE AÇAILÂNDIA"}}selected{{/if_equal}}>URE DE AÇAILÂNDIA</option>
                        <option value="URE DE BACABAL" {{#if_equal escola.regiaoAdministrativa "URE DE BACABAL"}}selected{{/if_equal}}>URE DE BACABAL</option>
                        <option value="URE DE BALSAS" {{#if_equal escola.regiaoAdministrativa "URE DE BALSAS"}}selected{{/if_equal}}>URE DE BALSAS</option>
                        <option value="URE DE BARRA DO CORDA" {{#if_equal escola.regiaoAdministrativa "URE DE BARRA DE CORDA"}}selected{{/if_equal}}>URE DE BARRA DO CORDA</option>
                        <option value="URE DE CAXIAS" {{#if_equal escola.regiaoAdministrativa "URE DE CAXIAS"}}selected{{/if_equal}}>URE DE CAXIAS</option>
                        <option value="URE DE CHAPADINHA" {{#if_equal escola.regiaoAdministrativa "URE DE CHAPADINHA"}}selected{{/if_equal}}>URE DE CHAPADINHA</option>
                        <option value="URE DE CODÓ" {{#if_equal escola.regiaoAdministrativa "URE DE CODÓ"}}selected{{/if_equal}}>URE DE CODÓ</option>
                        <option value="URE DE IMPERATRIZ" {{#if_equal escola.regiaoAdministrativa "URE DE IMPERATRIZ"}}selected{{/if_equal}}>URE DE IMPERATRIZ</option>
                        <option value="URE DE ITAPECURU-MIRIM" {{#if_equal escola.regiaoAdministrativa "URE DE ITAPECURU-MIRIM"}}selected{{/if_equal}}>URE DE ITAPECURU-MIRIM</option>
                        <option value="URE DE PEDREIRAS" {{#if_equal escola.regiaoAdministrativa "URE DE PEDREIRAS"}}selected{{/if_equal}}>URE DE PEDREIRAS</option>
                        <option value="URE DE PINHEIRO" {{#if_equal escola.regiaoAdministrativa "URE DE PINHEIRO"}}selected{{/if_equal}}>URE DE PINHEIRO</option>
                        <option value="URE DE PRESIDENTE DUTRA" {{#if_equal escola.regiaoAdministrativa "URE DE PRESIDENTE DUTRA"}}selected{{/if_equal}}>URE DE PRESIDENTE DUTRA</option>
                        <option value="URE DE ROSÁRIO" {{#if_equal escola.regiaoAdministrativa "URE DE ROSÁRIO"}}selected{{/if_equal}}>URE DE ROSÁRIO</option>
                        <option value="URE DE SÃO JOÃO DOS PATOS" {{#if_equal escola.regiaoAdministrativa "URE DE SÃO JOÃO DOS PATOS"}}selected{{/if_equal}}>URE DE SÃO JOÃO DOS PATOS</option>
                        <option value="URE DE SANTA ÍNES" {{#if_equal escola.regiaoAdministrativa "URE DE SANTA ÍNES"}}selected{{/if_equal}}>URE DE SANTA ÍNES</option>
                        <option value="URE DE TIMON" {{#if_equal escola.regiaoAdministrativa "URE DE TIMON"}}selected{{/if_equal}}>URE DE TIMON</option>
                        <option value="URE DE VIANA" {{#if_equal escola.regiaoAdministrativa "URE DE VIANA"}}selected{{/if_equal}}>URE DE VIANA</option>
                        <option value="URE DE ZÉ DOCA" {{#if_equal escola.regiaoAdministrativa "URE DE ZÉ DOCA"}}selected{{/if_equal}}>URE DE ZÉ DOCA</option>
                        <option value="URE DE SÃO LUÍS" {{#if_equal escola.regiaoAdministrativa "URE DE SÃO LUÍS"}}selected{{/if_equal}}>URE DE SÃO LUÍS</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="municipio">Município</label>
                    <select class="form-control" id="municipio" name="municipio">
                        <option value="AÇAILÂNDIA" {{#if_equal escola.municipio "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="ITINGA" {{#if_equal escola.municipio "ITINGA"}}selected{{/if_equal}}>ITINGA</option>
                        <option value="SÃO FRANCISCO DO BREJÃO" {{#if_equal escola.municipio "SÃO FRANCISCO DO BREJÃO"}}selected{{/if_equal}}>SÃO FRANCISCO DO BREJÃO</option>
                        <option value="BOM JESUS DA SELVA" {{#if_equal escola.municipio "BOM JESUS DA SELVA"}}selected{{/if_equal}}>BOM JESUS DA SELVA</option>
                        <option value="CIDELÂNDIA" {{#if_equal escola.municipio "CIDELÂNDIA"}}selected{{/if_equal}}>CIDELÂNDIA</option>
                        <option value="VILA NOVA DOS MARTÍRIOS" {{#if_equal escola.municipio "VILA NOVA DOS MARTÍRIOS"}}selected{{/if_equal}}>VILA NOVA DOS MARTÍRIOS</option>
                        <option value="SÃO PEDRO DA ÁGUA BRANCA" {{#if_equal escola.municipio "SÃO PEDRO DA ÁGUA BRANCA"}}selected{{/if_equal}}>SÃO PEDRO DA ÁGUA BRANCA</option>
                        <option value="BURITICUPU" {{#if_equal escola.municipio "BURITICUPU"}}selected{{/if_equal}}>BURITICUPU</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descricao da Escola" value="{{escola.descricao}}" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="apelido">Apelido</label>
                    <input type="text" class="form-control" id="apelido" name="apelido" placeholder="Apelido da Escola" value="{{escola.apelido}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="orgao">Orgão</label>
                    <input type="text" class="form-control" id="orgao" name="orgao" placeholder="Orgão" value="{{escola.orgao}}">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="orgaoregional">Orgão Regional</label>
                    <select class="form-control" id="orgaoregional" name="orgaoregional">
                        <option value="AÇAILÂNDIA" {{#if_equal escola.orgaoregional "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="BACABAL" {{#if_equal escola.orgaoregional "BACABAL"}}selected{{/if_equal}}>BACABAL</option>
                        <option value="BALSAS" {{#if_equal escola.orgaoregional "BALSAS"}}selected{{/if_equal}}>BALSAS</option>
                        <option value="BARRA DO CORDA" {{#if_equal escola.orgaoregional "BARRA DO CORDA"}}selected{{/if_equal}}>BARRA DO CORDA</option>
                        <option value="CAXIAS" {{#if_equal escola.orgaoregional "CAXIAS"}}selected{{/if_equal}}>CAXIAS</option>
                        <option value="CHAPADINHA" {{#if_equal escola.orgaoregional "CHAPADINHA"}}selected{{/if_equal}}>CHAPADINHA</option>
                        <option value="CODÓ" {{#if_equal escola.orgaoregional "CODÓ"}}selected{{/if_equal}}>CODÓ</option>
                        <option value="IMPERATRIZ" {{#if_equal escola.orgaoregional "IMPERATRIZ"}}selected{{/if_equal}}>IMPERATRIZ</option>
                        <option value="ITAPECURU-MIRIM" {{#if_equal escola.orgaoregional "ITAPECURU-MIRIM"}}selected{{/if_equal}}>ITAPECURU-MIRIM</option>
                        <option value="PEDREIRAS" {{#if_equal escola.orgaoregional "PEDREIRAS"}}selected{{/if_equal}}>PEDREIRAS</option>
                        <option value="PINHEIRO" {{#if_equal escola.orgaoregional "PINHEIRO"}}selected{{/if_equal}}>PINHEIRO</option>
                        <option value="PRESIDENTE DUTRA" {{#if_equal escola.orgaoregional "PRESIDENTE DUTRA"}}selected{{/if_equal}}>PRESIDENTE DUTRA</option>
                        <option value="ROSÁRIO" {{#if_equal escola.orgaoregional "ROSARIO"}}selected{{/if_equal}}>ROSÁRIO</option>
                        <option value="SÃO JOÃO DOS PATOS" {{#if_equal escola.orgaoregional "SÃO JOÃO DOS PATOS"}}selected{{/if_equal}}>SÃO JOÃO DOS PATOS</option>
                        <option value="SANTA ÍNES" {{#if_equal escola.orgaoregional "SANTA ÍNES"}}selected{{/if_equal}}>SANTA ÍNES</option>
                        <option value="TIMON" {{#if_equal escola.orgaoregional "TIMON"}}selected{{/if_equal}}>TIMON</option>
                        <option value="VIANA" {{#if_equal escola.orgaoregional "VIANA"}}selected{{/if_equal}}>VIANA</option>
                        <option value="ZÉ DOCA" {{#if_equal escola.orgaoregional "ZÉ DOCA"}}selected{{/if_equal}}>ZÉ DOCA</option>
                        <option value="SÃO LUÍS" {{#if_equal escola.orgaoregional "SÃO LUÍS"}}selected{{/if_equal}}>SÃO LUÍS</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cep">CEP do Endereço</label>
                        <input type="text" class="form-control cep" id="cep" name="cep" placeholder="00.000-000" value="{{escola.cep}}" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endreco da Escola" value="{{escola.endereco}}" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                    <label for="numero">N.</label>
                    <input type="text" class="form-control" id="numero" name="numero" value="{{escola.numero}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro da Escola" value="{{escola.bairro}}" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento do Endereço" value="{{escola.complemento}}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                    <label for="tipodezona">Tipo de Zona</label>
                    <select class="form-control" id="tipodezona" name="tipodezona">
                        <option value="0" {{#if_equal escola.tipodezona "0"}}selected{{/if_equal}}>Zona Urbana</option>
                        <option value="1" {{#if_equal escola.tipodezona "1"}}selected{{/if_equal}}>Zona Rural</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ufINEP">UF</label>
                        <select class="form-control" id="ufINEP" name="ufINEP" value="{{escola.ufINEP}}">
                            <option value="MA" {{#if_equal escola.ufINEP "MA"}}selected{{/if_equal}}>MA</option>
                            <option value="AC" {{#if_equal escola.ufINEP "AC"}}selected{{/if_equal}}>AC</option>
                            <option value="AL" {{#if_equal escola.ufINEP "AL"}}selected{{/if_equal}}>AL</option>
                            <option value="AP" {{#if_equal escola.ufINEP "AP"}}selected{{/if_equal}}>AP</option>
                            <option value="AM" {{#if_equal escola.ufINEP "AM"}}selected{{/if_equal}}>AM</option>
                            <option value="BA" {{#if_equal escola.ufINEP "BA"}}selected{{/if_equal}}>BA</option>
                            <option value="CE" {{#if_equal escola.ufINEP "CE"}}selected{{/if_equal}}>CE</option>
                            <option value="DF" {{#if_equal escola.ufINEP "DF"}}selected{{/if_equal}}>DF</option>
                            <option value="ES" {{#if_equal escola.ufINEP "ES"}}selected{{/if_equal}}>ES</option>
                            <option value="GO" {{#if_equal escola.ufINEP "GO"}}selected{{/if_equal}}>GO</option>
                            <option value="MT" {{#if_equal escola.ufINEP "MT"}}selected{{/if_equal}}>MT</option>
                            <option value="MS" {{#if_equal escola.ufINEP "MS"}}selected{{/if_equal}}>MS</option>
                            <option value="MG" {{#if_equal escola.ufINEP "MG"}}selected{{/if_equal}}>MG</option>
                            <option value="PA" {{#if_equal escola.ufINEP "PA"}}selected{{/if_equal}}>PA</option>
                            <option value="PB" {{#if_equal escola.ufINEP "PB"}}selected{{/if_equal}}>PB</option>
                            <option value="PR" {{#if_equal escola.ufINEP "PR"}}selected{{/if_equal}}>PR</option>
                            <option value="PE" {{#if_equal escola.ufINEP "PE"}}selected{{/if_equal}}>PE</option>
                            <option value="PI" {{#if_equal escola.ufINEP "PI"}}selected{{/if_equal}}>PI</option>
                            <option value="RJ" {{#if_equal escola.ufINEP "RJ"}}selected{{/if_equal}}>RJ</option>
                            <option value="RN" {{#if_equal escola.ufINEP "RN"}}selected{{/if_equal}}>RN</option>
                            <option value="RS" {{#if_equal escola.ufINEP "RS"}}selected{{/if_equal}}>RS</option>
                            <option value="RO" {{#if_equal escola.ufINEP "RO"}}selected{{/if_equal}}>RO</option>
                            <option value="RR" {{#if_equal escola.ufINEP "RR"}}selected{{/if_equal}}>RR</option>
                            <option value="SC" {{#if_equal escola.ufINEP "SC"}}selected{{/if_equal}}>SC</option>
                            <option value="SP" {{#if_equal escola.ufINEP "SP"}}selected{{/if_equal}}>SP</option>
                            <option value="SE" {{#if_equal escola.ufINEP "SE"}}selected{{/if_equal}}>SE</option>
                            <option value="TO" {{#if_equal escola.ufINEP "TO"}}selected{{/if_equal}}>TO</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="municipioINEP">Município - INEP</label>
                    <select class="form-control" id="municipioINEP" name="municipioINEP" value="{{escola.municipioINEP}}">
                        <option value="AÇAILÂNDIA" {{#if_equal escola.municipioINEP "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="BACABAL" {{#if_equal escola.municipioINEP "BACABAL"}}selected{{/if_equal}}>BACABAL</option>
                        <option value="BALSAS" {{#if_equal escola.municipioINEP "BALSAS"}}selected{{/if_equal}}>BALSAS</option>
                        <option value="BARRA DO CORDA" {{#if_equal escola.municipioINEP "BARRA DO CORDA"}}selected{{/if_equal}}>BARRA DO CORDA</option>
                        <option value="CAXIAS" {{#if_equal escola.municipioINEP "CAXIAS"}}selected{{/if_equal}}>CAXIAS</option>
                        <option value="CHAPADINHA" {{#if_equal escola.municipioINEP "CHAPADINHA"}}selected{{/if_equal}}>CHAPADINHA</option>
                        <option value="CODÓ" {{#if_equal escola.municipioINEP "CODÓ"}}selected{{/if_equal}}>CODÓ</option>
                        <option value="IMPERATRIZ" {{#if_equal escola.municipioINEP "IMPERATRIZ"}}selected{{/if_equal}}>IMPERATRIZ</option>
                        <option value="ITAPECURU-MIRIM" {{#if_equal escola.municipioINEP "ITAPECURU-MIRIM"}}selected{{/if_equal}}>ITAPECURU-MIRIM</option>
                        <option value="PEDREIRAS" {{#if_equal escola.municipioINEP "PEDREIRAS"}}selected{{/if_equal}}>PEDREIRAS</option>
                        <option value="PINHEIRO" {{#if_equal escola.municipioINEP "PINHEIRO"}}selected{{/if_equal}}>PINHEIRO</option>
                        <option value="PRESIDENTE DUTRA" {{#if_equal escola.municipioINEP "PRESIDENTE DUTRA"}}selected{{/if_equal}}>PRESIDENTE DUTRA</option>
                        <option value="ROSÁRIO" {{#if_equal escola.municipioINEP "ROSARIO"}}selected{{/if_equal}}>ROSÁRIO</option>
                        <option value="SÃO JOÃO DOS PATOS" {{#if_equal escola.municipioINEP "SÃO JOÃO DOS PATOS"}}selected{{/if_equal}}>SÃO JOÃO DOS PATOS</option>
                        <option value="SANTA ÍNES" {{#if_equal escola.municipioINEP "SANTA ÍNES"}}selected{{/if_equal}}>SANTA ÍNES</option>
                        <option value="TIMON" {{#if_equal escola.municipioINEP "TIMON"}}selected{{/if_equal}}>TIMON</option>
                        <option value="VIANA" {{#if_equal escola.municipioINEP "VIANA"}}selected{{/if_equal}}>VIANA</option>
                        <option value="ZÉ DOCA" {{#if_equal escola.municipioINEP "ZÉ DOCA"}}selected{{/if_equal}}>ZÉ DOCA</option>
                        <option value="SÃO LUÍS" {{#if_equal escola.municipioINEP "SÃO LUÍS"}}selected{{/if_equal}}>SÃO LUÍS</option>
                    </select> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                    <label for="distritoINEP">Distrito - INEP</label>
                    <select class="form-control" id="distritoINEP" name="distritoINEP" value="{{escola.distritoINEP}}">
                        <option value="AÇAILÂNDIA" {{#if_equal escola.distritoINEP "AÇAILÂNDIA"}}selected{{/if_equal}}>AÇAILÂNDIA</option>
                        <option value="BACABAL" {{#if_equal escola.distritoINEP "BACABAL"}}selected{{/if_equal}}>BACABAL</option>
                        <option value="BALSAS" {{#if_equal escola.distritoINEP "BALSAS"}}selected{{/if_equal}}>BALSAS</option>
                        <option value="BARRA DO CORDA" {{#if_equal escola.distritoINEP "BARRA DO CORDA"}}selected{{/if_equal}}>BARRA DO CORDA</option>
                        <option value="CAXIAS" {{#if_equal escola.distritoINEP "CAXIAS"}}selected{{/if_equal}}>CAXIAS</option>
                        <option value="CHAPADINHA" {{#if_equal escola.distritoINEP "CHAPADINHA"}}selected{{/if_equal}}>CHAPADINHA</option>
                        <option value="CODÓ" {{#if_equal escola.distritoINEP "CODÓ"}}selected{{/if_equal}}>CODÓ</option>
                        <option value="IMPERATRIZ" {{#if_equal escola.distritoINEP "IMPERATRIZ"}}selected{{/if_equal}}>IMPERATRIZ</option>
                        <option value="ITAPECURU-MIRIM" {{#if_equal escola.distritoINEP "ITAPECURU-MIRIM"}}selected{{/if_equal}}>ITAPECURU-MIRIM</option>
                        <option value="PEDREIRAS" {{#if_equal escola.distritoINEP "PEDREIRAS"}}selected{{/if_equal}}>PEDREIRAS</option>
                        <option value="PINHEIRO" {{#if_equal escola.distritoINEP "PINHEIRO"}}selected{{/if_equal}}>PINHEIRO</option>
                        <option value="PRESIDENTE DUTRA" {{#if_equal escola.distritoINEP "PRESIDENTE DUTRA"}}selected{{/if_equal}}>PRESIDENTE DUTRA</option>
                        <option value="ROSÁRIO" {{#if_equal escola.distritoINEP "ROSARIO"}}selected{{/if_equal}}>ROSÁRIO</option>
                        <option value="SÃO JOÃO DOS PATOS" {{#if_equal escola.distritoINEP "SÃO JOÃO DOS PATOS"}}selected{{/if_equal}}>SÃO JOÃO DOS PATOS</option>
                        <option value="SANTA ÍNES" {{#if_equal escola.distritoINEP "SANTA ÍNES"}}selected{{/if_equal}}>SANTA ÍNES</option>
                        <option value="TIMON" {{#if_equal escola.distritoINEP "TIMON"}}selected{{/if_equal}}>TIMON</option>
                        <option value="VIANA" {{#if_equal escola.distritoINEP "VIANA"}}selected{{/if_equal}}>VIANA</option>
                        <option value="ZÉ DOCA" {{#if_equal escola.distritoINEP "ZÉ DOCA"}}selected{{/if_equal}}>ZÉ DOCA</option>
                        <option value="SÃO LUÍS" {{#if_equal escola.distritoINEP "SÃO LUÍS"}}selected{{/if_equal}}>SÃO LUÍS</option>
                    </select> 
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="telefone">Fone Fixo</label>
                        <input type="text" class="form-control phone" id="telefone" name="telefone" placeholder="(99)9999-9999" value="{{escola.telefone}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="celular">Fone Celular</label>
                        <input type="text" class="form-control phone" id="celular" name="celular" placeholder="(99)9999-9999"  value="{{escola.celular}}" required>                                                      
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="exemplo@exemplo.com.br" value="{{escola.email}}">                                                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="situacao">Situação</label>
                        <select class="form-control" id="situacao" name="situacao" value="{{escola.situacao}}">
                            <option value="EM ATIVIDADE - 1" {{#if_equal escola.situacao "EM ATIVIDADE - 1"}}selected{{/if_equal}}>EM ATIVIDADE - 1</option>
                            <option value="PARALIZADA - 2" {{#if_equal escola.situacao "PARALIZADA - 2"}}selected{{/if_equal}}>PARALIZADA - 2</option>
                            <option value="EXTINTA - 3" {{#if_equal escola.situacao "EXTINTA - 3"}}selected{{/if_equal}}>EXTINTA - 3</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="formaocupacao">Forma de Ocupação</label>
                        <select class="form-control" id="formaocupacao" name="formaocupacao" value="{{escola.formaocupacao}}">
                            <option value="PRÉDIO PRÓPRIO" {{#if_equal escola.formaocupacao "PRÉDIO PRÓPRIO"}}selected{{/if_equal}}>PRÉDIO PRÓPRIO</option>
                            <option value="PRÉDIO ALUGADO" {{#if_equal escola.formaocupacao "PRÉDIO ALUGADO"}}selected{{/if_equal}}>PRÉDIO ALUGADO</option>
                            <option value="PRÉDIO CEDIDO" {{#if_equal escola.formaocupacao "PRÉDIO CEDIDO"}}selected{{/if_equal}}>PRÉDIO CEDIDO</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="regulamentacao">Regulamentação / Autorização no conselho</label>
                        <select class="form-control" id="regulamentacao" name="regulamentacao" value="{{escola.regulamentacao}}">
                            <option value="Não" {{#if_equal escola.regulamentacao "Não"}}selected{{/if_equal}}>Não</option>
                            <option value="Sim" {{#if_equal escola.regulamentacao "Sim"}}selected{{/if_equal}}>Sim</option>
                            <option value="Em tramitação" {{#if_equal escola.regulamentacao "Em tramitação"}}selected{{/if_equal}}>Em tramitação</option>
                        </select>                            
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sistemaimplantado">Sistema Implantado</label>
                        <select class="form-control" id="sistemaimplantado" name="sistemaimplantado" value="{{escola.sistemaimplantado}}">
                            <option value="Não" {{#if_equal escola.sistemaimplantado "Não"}}selected{{/if_equal}}>Não</option>
                            <option value="Sim" {{#if_equal escola.sistemaimplantado "Sim"}}selected{{/if_equal}}>Sim</option>
                        </select>                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="localarea">Local da Área</label>
                        <select class="form-control" id="localarea" name="localarea">
                            <option value="Área de Assentamento" {{#if_equal escola.localarea "Área de Assentamento"}}selected{{/if_equal}}>Área de Assentamento</option>
                            <option value="Terra Indígena" {{#if_equal escola.localarea "Terra Indígena"}}selected{{/if_equal}}>Terra Indígena</option>
                            <option value="Área onde se localiza comunidade remanescente de quilombos" {{#if_equal escola.localarea "Área onde se localiza comunidade remanescente de quilombos"}}selected{{/if_equal}}>Área onde se localiza comunidade remanescente de quilombos</option>
                            <option value="A escola não está em área de localização diferenciada" {{#if_equal escola.localarea "A escola não está em área de localização diferenciada"}}selected{{/if_equal}}>A escola não está em área de localização diferenciada</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="nucleohabitacional" >Núcleo Habitacional/ Polo</label>
                        <select class="form-control" id="nucleohabitacional" name="nucleohabitacional" value="{{escola.nucleohabitacional}}">
                            <option value="Zona Urbana - 110111">Zona Urbana - 110111</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color:darkblue">Outras Informações</h5>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="organizacaoescolar">Organização Escolar</label>
                        <select class="form-control" id="organizacaoescolar" name="organizacaoescolar" value="{{escola.organizacaoescolar}}">
                            <option value="SERIADA" {{#if_equal escola.organizacaoescolar "SERIADA"}}selected{{/if_equal}}>SERIADA</option>
                            <option value="MULTISERIADA"> {{#if_equal escola.organizacaoescolar "MULTISERIADA"}}selected{{/if_equal}}MULTISERIADA</option>
                            <option value="SERIADA E MULTISERIADA" {{#if_equal escola.organizacaoescolar "SERIADA E MULTISERIADA"}}selected{{/if_equal}}>SERIADA E MULTISERIADA</option>
                            <option value="ENSINO REGULAR" {{#if_equal escola.organizacaoescolar "ENSINO REGULAR"}}selected{{/if_equal}}>ENSINO REGULAR</option>
                            <option value="CICLOS DE FORMAÇÃO HUMANA" {{#if_equal escola.organizacaoescolar "CICLOS DE FORMAÇÃO HUMANA"}}selected{{/if_equal}}>CICLOS DE FORMAÇÃO HUMANA</option>
                            <option value="SER.\CICLO BÁSICO DE ALFABETIZAÇÃO" {{#if_equal escola.organizacaoescolar "SER.\CICLO BÁSICO DE ALFABETIZAÇÃO"}}selected{{/if_equal}}>SER.\CICLO BÁSICO DE ALFABETIZAÇÃO</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dependenciaadm">Dependência Administrativa</label>
                        <select class="form-control" id="dependenciaadm" name="dependenciaadm" value="{{escola.dependenciaadm}}">
                            <option value="REDE PÚBLICA MUNICIPAL" {{#if_equal escola.dependenciaadm "REDE PÚBLICA MUNICIPAL"}}selected{{/if_equal}}>REDE PÚBLICA MUNICIPAL</option>
                            <option value="REDE PÚBLICA ESTADUAL" {{#if_equal escola.dependenciaadm "REDE PÚBLICA ESTADUAL"}}selected{{/if_equal}}>REDE PÚBLICA ESTADUAL</option>
                            <option value="REDE PÚBLICA FEDERAL" {{#if_equal escola.dependenciaadm "REDE PÚBLICA FEDERAL"}}selected{{/if_equal}}>REDE PÚBLICA FEDERAL</option>
                            <option value="REDE PRIVADA PARTICULAR" {{#if_equal escola.dependenciaadm "REDE PRIVADA PARTICULAR"}}selected{{/if_equal}}>REDE PRIVADA PARTICULAR</option>
                            <option value="REDE PRIVADA COMUNITÁRIA" {{#if_equal escola.dependenciaadm "REDE PRIVADA COMUNITÁRIA"}}selected{{/if_equal}}>REDE PRIVADA COMUNITÁRIA</option>
                            <option value="REDE PRIVADA CONFESSIONAL" {{#if_equal escola.dependenciaadm "REDE PRIVADA CONFESSIONAL"}}selected{{/if_equal}}>REDE PRIVADA CONFESSIONAL</option>
                            <option value="REDE PRIVADA FILANTRÓPICA" {{#if_equal escola.dependenciaadm "REDE PRIVADA FILANTRÓPICA"}}selected{{/if_equal}}>REDE PRIVADA FILANTRÓPICA</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="turnosoferecidos">Turnos Oferecidos</label>
                        <select class="form-control" id="turnosoferecidos" name="turnosoferecidos" value="{{escola.turnosoferecidos}}">
                            <option value="MATUTINO" {{#if_equal escola.turnosoferecidos "MATUTINO"}}selected{{/if_equal}}>MATUTINO</option>
                            <option value="VESPERTINO" {{#if_equal escola.turnosoferecidos "VESPERTINO"}}selected{{/if_equal}}>VESPERTINO</option>
                            <option value="NOTURNO" {{#if_equal escola.turnosoferecidos "NOTURNO"}}selected{{/if_equal}}>NOTURNO</option>
                            <option value="DIURNO" {{#if_equal escola.turnosoferecidos "DIURNO"}}selected{{/if_equal}}>DIURNO</option>
                            <option value="MATUTINO E VESPERTINO" {{#if_equal escola.turnosoferecidos "MATUTINO E VESPERTINO"}}selected{{/if_equal}}>MATUTINO E VESPERTINO</option>
                            <option value="MATUTINO E NOTURNO" {{#if_equal escola.turnosoferecidos "MATUTINO E NOTURNO"}}selected{{/if_equal}}>MATUTINO E NOTURNO</option>
                            <option value="VESPERTINO E NOTURNO" {{#if_equal escola.turnosoferecidos "VESPERTINO E NOTURNO"}}selected{{/if_equal}}>VESPERTINO E NOTURNO</option>
                            <option value="MATUTINO, VESPERTINO E NOTURNO" {{#if_equal escola.turnosoferecidos "MATUTINO, VESPERTINO E NOTURNO"}}selected{{/if_equal}}>MATUTINO, VESPERTINO E NOTURNO</option>
                            <option value="INTENGRAL" {{#if_equal escola.turnosoferecidos "INTENGRAL"}}selected{{/if_equal}}>INTENGRAL</option>
                            <option value="INTERMEDIARIO" {{#if_equal escola.turnosoferecidos "INTERMEDIARIO"}}selected{{/if_equal}}>INTERMEDIARIO</option>
                            <option value="MATUTINO E VESPERTINO INTEGRAL" {{#if_equal escola.turnosoferecidos "MATUTINO E VESPERTINO INTEGRAL"}}selected{{/if_equal}}>MATUTINO E VESPERTINO INTEGRAL</option>
                            <option value="ALTERNANCIA" {{#if_equal escola.turnosoferecidos "ALTERNANCIA"}}selected{{/if_equal}}>ALTERNANCIA</option>
                        </select>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cnpj">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="00.000.000/0000-00" value="{{escola.cnpj}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="atocriacao">Ato de criação</label>
                        <input type="text" class="form-control" id="atocriacao" name="atocriacao" placeholder="Ato de criação" value="{{escola.atocriacao}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="livrofolha">Livro/Folha</label>
                        <input type="text" class="form-control" id="livrofolha" name="livrofolha" placeholder="__/___" value="{{escola.livrofolha}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="registromec">Registro no MEC</label>
                        <input type="text" class="form-control" id="registromec" name="registromec" placeholder="________" value="{{escola.registromec}}">                                                      
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dataregistro">Data Registro</label>
                        <input type="date" class="form-control" id="dataregistro" name="dataregistro" placeholder="__/__/____" value="{{escola.dataregistro}}">                                                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="site">Site</label>
                        <input type="text" class="form-control" id="site" name="site" placeholder="www.exemplo.com.br" value="{{escola.site}}">                                                      
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="entidademantenedora">Entidade Mantenedora</label>
                        <input type="text" class="form-control" id="entidademantenedora" name="entidademantenedora" value="{{escola.entidademantenedora}}">                                                      
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="numerosalas">N. Salas</label>
                        <input type="text" class="form-control" id="numerosalas" name="numerosalas" value="{{escola.numerosalas}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="numeropavimentos">N. Pavimentos</label>
                        <input type="text" class="form-control" id="numeropavimentos" name="numeropavimentos" value="{{escola.numeropavimentos}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="areatotal">Área Total m²</label>
                        <input type="text" class="form-control" id="areatotal" name="areatotal" value="{{escola.areatotal}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="capacidadealunos">Capacidade de Alunos</label>
                        <input type="text" class="form-control" id="capacidadealunos" name="capacidadealunos" value="{{escola.capacidadealunos}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" name="latitude" value="{{escola.latitude}}">                                                      
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" name="longitude" value="{{escola.longitude}}">                                                      
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title" style="color: darkblue">Coordenação Atual</h5>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cpfdiretor">CPF</label>
                        <input type="text" class="form-control cpf" id="cpfdiretor" name="cpfdiretor" placeholder="000.000.000-00" value="{{escola.cpfdiretor}}">                                                      
                    </div>    
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="diretor">Diretor</label>
                        <input type="text" class="form-control" id="diretor" name="diretor" placeholder="Nome do Diretor" value="{{escola.diretor}}" required>                                                      
                    </div>    
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="tratamento">Tratamento</label>
                        <select class="form-control" id="tratamento" name="tratamento" value="{{escola.tratamento}}">
                            <option value="Diretor" {{#if_equal escola.tratamento "Diretor"}}selected{{/if_equal}}>Diretor</option>
                            <option value="Diretora" {{#if_equal escola.tratamento "Diretora"}}selected{{/if_equal}}>Diretora</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="portariadiretor">Matricula/Portaria</label>
                        <input type="text" class="form-control" id="portariadiretor" name="portariadiretor" placeholder="Matricula do Diretor" value="{{escola.portariadiretor}}">                                                      
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="coordenadorpedag">Coordenador Pedagógico</label>
                        <input type="text" class="form-control" id="coordenadorpedag" name="coordenadorpedag" placeholder="Nome do Diretor" value="{{escola.coordenadorpedag}}">                                                      
                    </div>    
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tratamentocoordenadorpedag">Tratamento</label>
                        <select class="form-control" id="tratamentocoordenadorpedag" name="tratamentocoordenadorpedag" value="{{escola.tratamentocoordenadorpedag}}">
                            <option value="Coordenador" {{#if_equal escola.tratamentocoordenadorpedag "Coordenador"}}selected{{/if_equal}}>Coordenador</option>
                            <option value="Coordenadora" {{#if_equal escola.tratamentocoordenadorpedag "Coordenadora"}}selected{{/if_equal}}>Coordenadora</option>
                            <option value="Coordenador Pedagógico" {{#if_equal escola.tratamentocoordenadorpedag "Coordenador Pedagógico"}}selected{{/if_equal}}>Coordenador Pedagógico</option>
                            <option value="Coordenadora Pedagógica" {{#if_equal escola.tratamentocoordenadorpedag "Coordenadora Pedagógica"}}selected{{/if_equal}}>Coordenadora Pedagógica</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="portariacoordenadorpedag">Matricula/Portaria</label>
                        <input type="text" class="form-control" id="portariacoordenadorpedag" name="portariacoordenadorpedag" placeholder="Matricula do Coordenador" value="{{escola.portariacoordenadorpedag}}">                                                      
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="coordenadorsecret">Coordenador Secret</label>
                        <input type="text" class="form-control" id="coordenadorsecret" name="coordenadorsecret" placeholder="Nome do Diretor" value="{{escola.coordenadorsecret}}">                                                      
                    </div>    
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tratamentocoordenadorsecret">Tratamento</label>
                        <select class="form-control" id="tratamentocoordenadorsecret" name="tratamentocoordenadorsecret" value="{{escola.tratamentocoordenadorsecret}}">
                            <option value="Secretário" {{#if_equal escola.tratamentocoordenadorsecret "Secretário"}}selected{{/if_equal}}>Secretário</option>
                            <option value="Secretária" {{#if_equal escola.tratamentocoordenadorsecret "Secretária"}}selected{{/if_equal}}>Secretária</option>
                            <option value="Coordenador Secretário" {{#if_equal escola.tratamentocoordenadorsecret "Coordenador Secretário"}}selected{{/if_equal}}>Coordenador Secretário</option>
                            <option value="Coordenador Secretária" {{#if_equal escola.tratamentocoordenadorsecret "Coordenador Secretária"}}selected{{/if_equal}}>Coordenadora Secretária</option>
                        </select>    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="portariacoordenadorsecret">Matricula/Portaria</label>
                        <input type="text" class="form-control" id="portariacoordenadorsecret" name="portariacoordenadorsecret" placeholder="Matricula do Coordenador" value="{{escola.portariacoordenadorsecret}}">                                                      
                    </div>    
                </div>
            </div>  
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 mb-4 mt-4 text-center">
             <button type="submit" class="btn btn-success">Salvar Escola</button>
        </div>
    </div>

<!-- Modal -->
<div class="modal hide fade mx-auto" id="cadastroSucesso" tabindex="-1" aria-labelledby="cadastroSucessoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadastroSucessoLabel">Sucesso!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        A edição da escola foi efetuada!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modalOk" data-dismiss="modal">OK!</button>        
      </div>
    </div>
  </div>
</div>  
</form>
</div>
</div>

<!-- ENVIO DO FORMULÁRIO -->
<script>
    $(document).ready(() => {
        $("#formEditar").submit(function(event){
            event.preventDefault();            
            $.ajax({
                type: "post",
                url: "/escolas/cadastro/edit",
                data: $(this).serialize(),
                success: function(data){          
                    console.log(data)                      
                    $("#cadastroSucesso").modal('show')
                }
            })
        })
    })   
</script>

<!-- TRATAMENTO DAS DATAS -->
<script>
    insertFormatedDate("dataregistro", "{{escola.dataregistro}}")
</script>

<!-- CONFIGURAÇÃO DAS MÁSCARAS -->
<script>
    $('.phone').attr("onkeypress", "mascara(this, aplicarTelefone)")
    $('.phone').attr("maxlength", "15")

    $('.cep').attr("onkeypress", "mascara(this, aplicarCep)")
    $('.cep').attr("maxlength", "9")

    $('.cpf').attr("onkeypress", "mascara(this, aplicarCpf)")
    $('.cpf').attr("maxlength", "14")
</script>